* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 500px) {
    

    header span {
    font-weight: 600;
}

@media (min-width: 50px) and (max-width: 650px) {
    

    header span {
    font-weight: 600;
}

header h1{
    font-size: 2rem;
}

header h3 {
    font-size: 1rem;
}

div.scoreBoardContainer {
        display: flex;
    align-self: end;
}

.bestScoreContainer {
    border: 1px solid black;
    border-radius: 9px;
    max-width: 400px;
    padding: 20px;
    display: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
        padding: 31px 0;

}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 80, 80);
    border-radius: 8px;
}

}

body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    /* text-align: center; */
    background-color: rgb(158, 179, 172);

}

header {
    display: flex;
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 20px;

    /* padding: 10px 50px; */
gap: 40px;
    
}


header span {
    font-weight: 600;
}

.gameTitleContainer {
    color: bisque;
}

.bestScoreContainer {
    border: 1px solid black;
    border-radius: 9px;
    max-width: 400px;
    padding: 20px;
    display: none;
}

#scoreBoardContainer {
        display: flex;
    align-self: end;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
        padding: 31px 0;

}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 80, 80);
    border-radius: 8px;
}

h2 {
    color: bisque
}

.card {
    max-width: 400px;

}

.card img {
    max-width: 300px;
    width: 300px;
    height: 300px;

    object-fit: contain;
    object-position: 50% 50%;
}